- @spots.each do |spot|
  .booyah-box.col-xs-10.col-xs-offset-1
    %h3= spot.name
    %i= spot.address
    %br/
    %br/
    %p= spot.description
    %br/
    - if spot.user.present?
      %small= spot.user.first_name


